.selectContainer {
	padding: 20px;
	margin-bottom: 10px;
	width: fit-content;
	border-radius: 10px;
	background-color: var(--decorative-color);
}

.select {
	width: 150px;
}

.coinButtonsContainer {
	padding: 20px;
	background-color: var(--decorative-color);
	border-radius: 10px;
}

.coinButtons {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.active {
	background-color: var(--primary-color);
	border: none;
	color: white;
}

.active:hover {
	color: var(--primary-color-hover);
}
